<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DSCommon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SIncereCommon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C685CE0E1CA2D92E00101DBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6D703BE1C92AC0200F9375D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6F666CB1CA7BDA9000478C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6F666DD1CA7BE04000478C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6F666F21CA7BEFB000478C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
